# Backend
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/xrp_explorer
REDIS_URL=redis://localhost:6379/0
BACKEND_CORS_ORIGINS=http://localhost:3000
API_PREFIX=/api

# Frontend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api
